@model ProductVM
@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Create Product";
    Layout = "/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" asp-controller="Product" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Product.Description"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Product.Img"></label>
                <input type="file" name="file" id="imgfile" class="form-control" />
            </div>

            <div class="mb-3">
                <label asp-for="Product.Category"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="@Model.categoryList">
                    <option disabled selected >-- Select Category --</option>
                </select>
                <span asp-validation-for="Product.Category" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-plus-lg"></i> Create
                </button>
                <a asp-action="Index" asp-controller="Category" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left"></i> Back
                </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
