@model IEnumerable<Product>

@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "View Products";
}


<div>
    <a asp-action="Create" asp-controller="Product" class="btn btn-primary">Add Product</a>
</div>

<br />
<table id="mytable" class="table table-hover table-bordered">
    <thead class="text-bold">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    
</table>

@section Scripts{
    <script src="~/js/Products.js"></script>
}