<div class="container roe">

    <h2 class="text-center text-success">Order Placed Successfully</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="~/img/checked.jpg" alt="Order Success" class="img-fluid" style="max-width: 150px; margin-bottom: 20px;" />
            <h4>Thank you for your purchase!</h4>
            <p>Your order has been placed successfully. We will send you a confirmation email shortly.</p>
            <a href="~/Customer/Home/Index" class="btn btn-primary mt-3">Continue Shopping</a>
        </div>
    </div>
</div>

