@model IEnumerable<OrderVM>

@{
    ViewBag.PageTitle = "Orders Management";
    ViewBag.CardTitle = "View Orders";
}

<br />
<table id="mytable" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>OrderStatus</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

@section Scripts {
    <script src="~/js/Orders.js"></script>
}